* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #016fb9;
    --red: #cf1212;
    --yellow: #ffd602;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.page {
    height: 100%;
    position: relative;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: 
        "nav     aside"
        "section aside"
        "footer  aside";
    height: 100%;
    position: absolute;
    width: 100%;
}
.navbar {
    /* background: pink; */
    grid-area: nav;
}

.navbar__content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 0 0 0 80px;
    width: 100%;

    animation: 2s navbar 0.5s ease-in-out;
}
@keyframes navbar {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navbar__content img {
    width: 50px;
}

.navbar__content ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 450px;
}

.navbar__content ul li a {
    color: var(--red);
    font-weight: 300;
    text-decoration: none;
}